* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1c253e;
}

input {
  width: 90%;
  padding: 1.5% 2.5% 1.5% 2.5%;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  border-style: solid;
  border-width: 2px;
}

h1 {
  color: #00a5b1;
  text-align: center;
  margin-bottom: 0;
  animation: 3s anim-lineUp ease-out 0s;
}

.form-div {
  background-color: #0e101c;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border: 5px solid #141729;
  border-radius: 9px;
  max-width: 1400px;
  animation: 4.5s anim-lineUp ease-out 0s;
}

.form-item {
  font-size: 17px;
  font-weight: 450;
  margin: 2%;
  transition: all 0.5s ease-in-out 0s;
}

.form-head {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 1%;
}

.form-inp {
  width: 100%;
}

.form-file {
  width: 100%;
}

.form-btn {
  width: 100%;
  justify-content: center;
  display: flex;
}

#Description {
  font-size: 16px;
  font-weight: 450;
  margin: 2%;
  width: 90%;
  padding: 1.5% 2.5% 1.5% 2.5%;
  outline: none;
  border-radius: 5px;
  border-width: 2px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  box-shadow: none;
  border-style: solid;
  transition: all 1s ease-in-out 0s;
}

#cvPath {
  color: white;
}

#form-btn {
  cursor: pointer;
  width: 96%;
  padding: 3% 2.5% 3% 2.5%;
  font-size: 20px;
  font-weight: 450;
  letter-spacing: 10px;
  color: rgb(233, 233, 233);
  background-color: #d23c74;
  border-color: #d23c74;
  border-radius: 7px;
  border-style: solid;
  margin-top: 3%;
  margin-bottom: 3%;
  transition: all 0.2s linear 0s;
}

#form-btn:hover {
  text-indent: 30px;
  background-color: #db6390;
  border-color: #db6390;
  box-shadow: 0px 1px 20px 1px #d23c74;
}

#form-btn:active {
  background-color: #d23c74;
  border-color: #d23c74;
}

#firstName {
  animation: null;
}

#cv-img-div {
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  width: 70px;
  height: 70px;
  background-color: #0e101c;
  position: absolute;
  top: 2%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation: 1.5s bounce-6 ease 0s;
}

#cv-img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 1.4rem;
  }
  75% {
    margin-left: -0.2rem;
  }
  100% {
    margin-left: 0rem;
  }
}

/* Submit page */

#thank-div {
  margin-top: 80px;
  border-width: 5px;
  border-color: #141729;
  border-style: solid;
  background-color: #0e101c;
  border-radius: 10px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  animation: 4.5s anim-lineUp ease-out 0s;
}

#thank-head2 {
  margin-top: 40px;
  color: #00a5b1;
  text-align: center;
  margin-bottom: 10px;
}

#thank-head3 {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  animation: 2s anim-lineUp ease-out 0s;
}

#thank-img-div {
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  width: 70px;
  height: 70px;
  background-color: #0e101c;
  position: absolute;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation: 1.5s bounce-6 ease 0s;
}

#thank-img {
  margin-left: 10%;
  width: 100%;
}

#thank-btn-div {
  display: flex;
  justify-content: center;
}

#thank-btn {
  width: 80%;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 15px;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-6 {
  0% {
    opacity: 0;
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    opacity: 1;
    transform: scale(1, 1) translateY(-10px);
  }
  80% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}
